NET "output(7)" LOC="P2" | IOSTANDARD = "LVCMOS33";
NET "output(6)" LOC="R2" | IOSTANDARD = "LVCMOS33";
NET "output(5)" LOC="U1" | IOSTANDARD = "LVCMOS33";
NET "output(4)" LOC="P5" | IOSTANDARD = "LVCMOS33";
NET "output(3)" LOC="R1" | IOSTANDARD = "LVCMOS33";
NET "output(2)" LOC="V1" | IOSTANDARD = "LVCMOS33";
NET "output(1)" LOC="U3" | IOSTANDARD = "LVCMOS33";
NET "output(0)" LOC="V4" | IOSTANDARD = "LVCMOS33";

NET "data(7)" LOC="P4" | IOSTANDARD = "LVCMOS33";
NET "data(6)" LOC="P3" | IOSTANDARD = "LVCMOS33";
NET "data(5)" LOC="R3" | IOSTANDARD = "LVCMOS33";
NET "data(4)" LOC="T1" | IOSTANDARD = "LVCMOS33";
NET "data(3)" LOC="T3" | IOSTANDARD = "LVCMOS33";
NET "data(2)" LOC="U2" | IOSTANDARD = "LVCMOS33";
NET "data(1)" LOC="V2" | IOSTANDARD = "LVCMOS33";
NET "data(0)" LOC="U4" | IOSTANDARD = "LVCMOS33";

NET "display(6)" LOC="L3" | IOSTANDARD = "LVCMOS33";
NET "display(5)" LOC="N1" | IOSTANDARD = "LVCMOS33";
NET "display(4)" LOC="L5" | IOSTANDARD = "LVCMOS33";
NET "display(3)" LOC="L4" | IOSTANDARD = "LVCMOS33";
NET "display(2)" LOC="K3" | IOSTANDARD = "LVCMOS33";
NET "display(1)" LOC="M2" | IOSTANDARD = "LVCMOS33";
NET "display(0)" LOC="L6" | IOSTANDARD = "LVCMOS33";

NET "clock" LOC="E3" | IOSTANDARD = "LVCMOS33";
NET "start" LOC="U8" | IOSTANDARD = "LVCMOS33";
NET "clear" LOC="U9" | IOSTANDARD = "LVCMOS33";